rules_version = '2';
service cloud.firestore {
  match /users/{userId}/{document=**} {
    allow read, write: if
      request.auth.uid == userId;
  }

  match /planets/{planet_id}/{document=**} {
    allow read: if true;
  }

  match /fruits/{fruit_id}/{document=**} {
    allow read: if false;
  }

  /*match /{document=**} {
    allow read, write: if
      request.time < timestamp.date(2022, 9, 3);
  }*/
}